<%= form_for(@income) do |form| %>
  <% if @income.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@income.errors.count, "error") %> prohibited this income from being saved:</h2>

      <ul>
      <% @income.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :amount %><br>
    <%= form.text_field :amount %>
  </div>
  <% if !@categories.nil? %>
  <div class="field">
    <%= form.label :category_id %><br>
    <%= form.collection_select :category_id, @categories, :id, :name, :include_blank => false %> 
  </div>
  <% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
