<p id="notice"><%= notice %></p>

<div class="section-container light-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                 <h2 style="text-align:center;">Income Source</h2>
                 <h4 style="text-align:center;">Save you money</h4>
            </div>
            
             <div class="col-md-12 light-panel">
                <div class='inner'>
                  <table>
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th colspan="3"></th>
                      </tr>
                    </thead>

                    <tbody>
                      <% @incomes.each do |income| %>
                        <tr>
                          <td><%= income.name %></td>
                          <td><%= income.amount %></td>
                          <td><%= link_to 'Show', income %></td>
                          <td><%= link_to 'Edit', edit_income_path(income) %></td>
                          <td><%= link_to 'Destroy', income, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
            </div>
            <div class="col-md-3 light-panel">
                <div class='inner'>
                    <%= link_to 'New Income', new_income_path %>
                </div>
            </div>

        </div>
    </div>