<p id="notice"><%= notice %></p>

<div class="section-container light-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                 <h2 style="text-align:center;">Income Source</h2>
                 <h4 style="text-align:center;">Save you money</h4>
            </div>
            
            <div class="col-md-12 light-panel">
                <div class='inner'>
                <p><strong>Name: <%= @income.name %></p> 
                <p><strong>Amount: <%= @income.amount %></p> 
                </div>
            </div>
             <div class="col-md-3 light-panel">
                <div class='inner'>
                    <%= link_to 'Edit', edit_income_path(@income) %> |
                    <%= link_to 'Back', incomes_path %>
                </div>
            </div>
        </div>
    </div>
    