<div class="section-container light-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                 <h2 style="text-align:center;">Categories</h2>
                 <h4 style="text-align:center;">Save you money</h4>
            </div>
      <% @categories.each do |category| %>
            <div class="col-md-3 light-panel">
              <div class='inner'>
                <td><%= link_to ''+category.name, category  %></td><br/><br/>
                <td><%= link_to 'Edit', edit_category_path(category) %></td>
                <td><%= link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </div>
            </div>  <% end %>
       <div class="col-md-3 light-panel">
        <%= link_to 'New Category', new_category_path %>
       </div>
        </div>
    </div>
</div>