<div class="section-container light-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                 <h2 style="text-align:center;">Create New Category</h2>

                 <h4 style="text-align:center;">Save your money</h4>
            </div>
            <div class="col-md-3 light-panel">
                <div class='inner'>
                      <%= render 'form' %>
                      <%= link_to 'Back', categories_path, :class => 'glyphicon glyphicon-arrow-left' %>
                </div>
            </div>
        </div>
    </div>