<p id="notice"><%= notice %></p>

<div class="section-container light-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                 <h2 style="text-align:center;">Categories</h2>
                 <h4 style="text-align:center;">Save you money</h4>

            </div>
            <div class="col-md-8 light-panel">
                <div class='inner'>
                    <p><strong><%= @category.name %> </p> <br/>
                    <%= link_to 'Edit', edit_category_path(@category) %> |
                    <%= link_to 'Back', categories_path %>  
                </div>
            </div>       
        </div>
    </div>
    
    
